includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
            - '#Unsafe usage of new static\(\)#'
            - '#Trait .+ is used zero times and is not analysed#'
            -
                message: '#Call to an undefined method Illuminate\\Http\\Request::(wantsTurboStream|wasFromTurboFrame)\(\)#'
                reportUnmatched: false
            - identifier: argument.type
              message: '#Parameter \#1 \$view of function view expects view-string\|null#'
              reportUnmatched: false
            - identifier: method.notFound
              reportUnmatched: false
